*{
	margin:0;
	padding:0;
}

/* ==========================================================================
   Base Typographic Styles
   ========================================================================== 
    The following typographic styles are meant to be changed. They are set so that you know what to style, but don't tell you how to style them. For example all of the headings are set to the same font-size and line-height. That should be changed.
*/


/* Default Typography
   ==================================================================== 
   !! CHANGE FROM HERE DOWN to suit the needs of your site
   You can use a resource like http://type-scale.com/ to help you choose font-size
*/

/*
Set a default font-family, font-size and line-height in the html
This will set the default for the entire site.
*/
html{
/*    font-size: 100%;*/
    /* font-family: sans-serif;*/ /*change to add a proper font stack */
/*    font-size: 1em;*/
     line-height: 1.5;  /* usually something between 1.3 and 1.6 is most readable without feeling too far apart */
}

/*Usually at least a bottom margin is given to separate paragraphs. font-size and font-family are inherited from body*/
p{
    margin: 0 0 1em 0;
}

/*Set a default font-family for the headings*/
h1,h2,h3,h4,h5,h6{
/*    font-family: serif; change to add a proper font stack */
}

/*
Set the font-size of each heading individually
When you set the font-size also set the line-height.
You may also want to set the top and bottom margins and padding
*/

h1{
    font-size: 2.441em;
    line-height: 1;
    margin: 1em 0 0 0;
    padding: 0;
}

h2{
    font-size: 1.953em;
    line-height: 1;
    margin: 1.5em 0 .5em 0;
    padding: 0;
}

h3{
    font-size: 1.563em;
    line-height: 1;
    margin: 0;
    padding: 0;
}

h4{
    font-size: 1.25em;
    line-height: 1;
    margin: 0;
    padding: 0;
}

h5{
    font-size:1em;
    line-height: 1;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

h6{
    font-size:1em;
    line-height: 1;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}


body{
	font-family: arial;
	line-height: 1.5em;
}


h1, header{
	margin-bottom:1em;
}
h1 {text-align: center;
    font-family: sans-serif;
    font-size: 200%;
    margin-top: 1em;
    margin-bottom: 1em;background-color: azure;
}
h3{text-align: center;
    font-size: 115%;
    margin-bottom: 2%;
    margin-top: 1%}






#container{
	max-width:960px;
	margin:0 auto;
}
#badges{
    padding-left: 14em
}
#register{
    width: 500px;
    margin-left: 2%;
    padding:40px;
    border: 5px solid red;}
#vote{
    margin-left: 2%;
    width: 500px;
    padding:40px;
    border: 5px solid red;
}
#candi{
    margin-left: 2%;
    width: 500px;
    padding:40px;
    border: 5px solid red;
}
#event{
    margin-left: 2%;
    width: 500px;
    padding:40px;
    border: 5px solid red; }
#resource{
    margin-left: 2%;
    width: 500px;
    padding:40px;
    border: 5px solid red; }

#main-menu{
	clear:both;
	display:none;
	border-top:solid 1px #999;
}
#registerbody{
    margin-left: 3%;
/*    width: 600px;*/
/*    font-size: 120%;*/
    line-height:2
        clear:both;

}
#electionbody{
    margin-left: 3%;
    width: 600px;
    font-size: 120%;
    line-height:2
}
#candibody{margin-left: 3%;
    width: 600px;
    font-size: 120%;
    line-height:2}
#resourcebody{
    margin-left: 3%;
/*    width: 600px;*/
    font-size: 120%;
    line-height:2}

nav li{
	border-bottom:solid 1px #999;
	padding:0.5em;
	text-align: center;
	list-style-type: none;
}
a:hover{color:crimson;}
a:link{text-decoration: none;
            color: blue;}

nav li li {
	border:none;
}

nav li ul{  /* hides drop down UL */
	background-color: #fff;
	display:none;
}

nav li li{
display:block;
}
center{font-size:150%;}

img{ padding-top: 1em;
    max-width: 100%;
    border: none;
}
iframe{
    max-width: 100%;
}

#date-loc{
	float:right;
	margin-right:0.5em;
}
nav button{
        width:30%;
        font-size: 2em;
        background-color:crimson;
		float:left;
	    margin-left:0.6em;
}
#content, #sidebar, footer{
	padding:0.5em;
}

 aside{
 	border:solid 1px #999;
 	padding:0.5em;
 }
#lineup li{
	display: inline;
	list-style-type: circle;
	font-size: 1.5em;
	line-height: 1.5em;
}
#slideshow img, #direction img{
	width:100%;
}
footer{
	clear:both;
}



.headerText{text-align: center;
    font-family: sans-serif;
    font-size:100%;
    margin-bottom: 1em;
    margin-left:1em;
    }

article {font-family: sans-serif;
    margin-left: 1em;
    margin-right: 1em;}

.federal{font-size: 130%;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 2%;
    background-color: blue;
}
.body{line-height:normal;}

.federalBody{line-height:normal;}
ul{text-align: normal;
    line-height: normal;
    margin-top: 2%;}

.congress{text-align: center;
    font-size: 130%;
    text-decoration: underline;
    margin-bottom: 2%;
    background-color:crimson;
    }

.senate{text-align: center;
    font-size: 130%;
    text-decoration: underline;
    margin-bottom: 2%;
    background-color: blue;}
.rep{text-align: center;
    font-size: 130%;
    text-decoration: underline;
    margin-bottom: 2%;
     background-color:crimson;}
.election{text-align: center;
    font-size: 130%;
    text-decoration: underline;
    margin-bottom: 2%;
    background-color: blue;}
.spNote{text-align: center;
    font-size: 130%;
    text-decoration: underline;
    margin-bottom: 2%; }
.nySA{text-align: center;
    font-size: 130%;
    text-decoration: underline;
    margin-bottom: 2%;
     background-color:crimson;
    }
.NYS{background-color: yellow;}

.BMCC{text-align: center;
    font-size: 130%;
    text-decoration: underline;
    margin-bottom: 2%;
    background-color: blue;}
p {text-align: c}

@media (min-width: 768px) {

h1{
	float:left;
    line-height:1;
	width:100%;
}
nav button{
	display:none;
}
#main-menu{
	display:block;
	clear:both;
}
nav li{
    font-family: serif;
    font-size: 30px;
   display:inline-block;
	margin:1em;
    margin-left:7%;
	border:none;

}
nav li ul{
	position:absolute;
	border:solid 1px #999;

}
a:hover{color:crimson;}
a:link{text-decoration: none;
            color: black;}

#content{
	float:left;
	width:70%;
}
#sidebar{
	float:right;
	width:25%;
}
}
    
/* =============== lists =====================*/
    
ul{
    margin-left: 2em;    
}

li{
    margin-bottom: 1em;
}
    
    

.highlight{
    padding: 10px 30px;
    background-color:coral;
    
}

.borough{
    text-transform: lowercase;
    font-variant: small-caps;
}

.page-section{
    padding: 50px 10px;
    
}

in-person{
    background-color: lightblue;
}
.online{
    background-color: lightblue;
}

.mail-in{
    background-color: darkblue;
    color: white;
}


/* ---------------- Styling Candidates --------------- */
.candidate{
    text-align: center;
    margin: 0 10%;
}
.candidate-image{
    height: 0;
    overflow: hidden;
    padding-bottom: 100%;
    
}

    
